/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 7, 2020, 3:51:28 PM
    Author     : ADMIN
*/

.auth-form {
	margin: auto;
	margin-top: 80px;
	width: 400px;
	height: auto;
	box-shadow: 0 0 10px;
	border-radius: 10px;
	

}


.auth-form-container {
	padding: 0 32px;
}

.auth-form-header {
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.auth-form-title {
	font-size: 28px;
	color:white;
}

.auth-form-subtitle {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.auth-form-subtitle:hover {
	color: rgb(0, 128, 192);
}

.auth-form-input {
	width: 99%;
	height: 32px;
	margin-bottom: 24px;
	padding: 0 12px;
	border: 1px solid #bdbdbd;
	border-radius: 7px;
	outline: none;
}

.auth-form-input:focus {

	border-color: blue;
}
.auth-form-select {
	width: 32%;
	height: 32px;
	margin-bottom: 24px;
	padding: 0 12px;
	border: 1px solid #bdbdbd;
	border-radius: 7px;
	outline: none;
}

.auth-form-select:focus {

	border-color: blue;
}

.auth-form-controls {
	display: flex;
	justify-content: space-between;
}

.btn {
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	min-width: 160px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 7px;
	background-color:black;
	border: none;
	outline: none;
	text-decoration: none;
}
.forgot{color:white;}
.forgot:hover{color:blue;}
.btn:hover {
	background-color: #FB5533;
}

.auth-form-social {
	background-color:rgba(0,0,0,0.5);
	padding: 10px 10px;
	display: flex;
	height:50px;
	justify-content: space-between;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 30px;
}

.btn-social-fb {
	color: blue;
	display:flex;
	border-radius: 10px;
	background-color:rgba(0,0,0,0.5);
	padding: 6px 8px;
	width:44%;
	text-decoration: none;
	margin:5px;
}
.btn-social-fb .a{
	padding-top:2%;
	
}
.btn-social-fb .b{
	padding-top:1,9%;
	padding-left:4%;
}

.btn-social-gg {
	color: #FB5533;
	display:flex;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.5);
	padding: 6px 8px;
	width:40%;
	text-decoration: none;
	margin:5px;
}
.btn-social-gg .a{
	padding-top:2%;
}
.btn-social-gg .b{
	padding-top:1,9%;
	padding-left:4%;
}

.btn-social-fb:hover {
	background-color: #4285F4;	
}

.btn-social-gg:hover {
	background-color: rgba(255, 255, 255, 0.7);
}